@use "styles/material/theme";
@use "styles/material/override";
@use "@angular/cdk";
@use "styles/tailwind/tailwind";
@include cdk.a11y-visually-hidden;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Golos Text", Roboto, "Helvetica Neue", sans-serif;
}

button {
  font-family: inherit;
}
