@use "@angular/cdk";
@use "styles/material";
@use "styles/tailwind";
@use "styles/extensions";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Golos Text", Roboto, "Helvetica Neue", sans-serif;
}

button {
  font-family: inherit;
}
