@use "tailwindcss";
@use "../core/breakpoints" as bp;
@use "../core/spacings" as s;

@theme {
  --breakpoint-tablet: #{bp.$bp-tablet};
  --breakpoint-desktop: #{bp.$bp-desktop};
  --spacing: #{s.$base-step};
}
