@use "@angular/material" as mat;
@use "@angular/cdk" as cdk;
@use "sass:map";
@use "../utils/functions" as f;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
button[matbutton="filled"] {
  @include mat.button-overrides(
    (
      filled-container-height: 48px,
      filled-icon-offset: 0,
      filled-icon-spacing: 10px,
    )
  );

  &.secondary {
    @include mat.button-overrides(
      (
        filled-container-color: f.white(),
        filled-label-text-color: f.neutral(700),
        filled-ripple-color: f.purple(300),
        filled-container-height: 48px,
      )
    );
  }

  &.icon {
    min-width: 48px;

    @include mat.button-overrides(
      (
        filled-icon-offset: 0,
        filled-icon-spacing: 0,
        filled-horizontal-padding: 12px,
      )
    );
  }
}
