button {
  &.mat-mdc-button > .mat-icon,
  &.mat-mdc-unelevated-button > .mat-icon,
  &.mat-mdc-raised-button > .mat-icon,
  &.mat-mdc-outlined-button > .mat-icon,
  &.mat-tonal-button > .mat-icon {
    height: 1.5rem;
    width: 1.5rem;

    & > svg {
      display: block;
    }
  }
}
