$purple: (
  300: #f1f3ff,
  400: #e7eaff,
  500: #cfd6ff,
  600: #b7c1fe,
  700: #9fadfe,
  800: #8798fe,
  900: #6178ff,
);
$black: (
  300: #e8e8e8,
  400: #d1d1d1,
  500: #a2a2a2,
  600: #747474,
  700: #454545,
  800: #171717,
);
$secondary: (
  white: #ffffff,
  wrong: #e64646,
);
