@use "functions" as f;
@use "mixins" as m;

.header {
  background: f.purple(900);
  padding: 20px;

  &__logo {
    position: relative;
    height: 42px;
    width: 195px;
  }

  @include m.tablet-width {
    &__logo {
      height: 62px;
      width: 288px;
    }
  }
}
